<link rel="stylesheet" href="/styles/signup.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

<img id="background-plant" src="/images/green-plant.png" alt="background-plant">
<div class="formulaire">
  <h1>{{data.userType}} Sign-Up</h1>
  <form class="form" method="POST" action="/signup">
           <div id="personal-information">
           <input type="text" name="username" placeholder="Name" required/>
           <input class="email" type="email" id="input-email" name="email" placeholder="email" required/>
           <input class="password" type="password" name="password" id="input-password" placeholder="Password" required/>
           <input class="password" type="password" name="passwordConfirmation" id="input-password" placeholder="Password confirmation" required/>
           <input name='userType' type='hidden' value="{{data.userType}}">
           <input id="signup-button" type="submit" value="Sign Up">
           </div>
           <div id="business-information">
             <input type="text" name="businessName" placeholder="Business Name" required/>
           <input type="adress"  name="businessAddress" placeholder="Business Address" required/>
           <textarea id="descri" name="businessDescription" placeholder="Business Descritpion" maxlength="200" required></textarea>
           </div>
  </form>
 </div>
 <script>
   var userType = "{{data.userType}}"
   var errorMessage = "{{data.errorMessage}}"
 </script>
 <script src="/scripts/signup.js"></script>