<link rel="stylesheet" href="/styles/signuptransition.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

    <div id="transition-page">
        <h1>Who Are You?</h1>
        <div class="elements">
            <div class="user client">
                <img class="img-shopping" src="../images/shopping.png" alt="login">
                <h3>Client</h3>
            </div>

            <div class="user farmer">
                <img class="img-farmer" src="../images/farmer.png" alt="login">
                <h3>Farmer</h3>
            </div>
        </div>
    </div>
    <script src="/scripts/siguptransition.js"></script>

