<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">

      <link rel="stylesheet" href="style.css">
   </head>

   <body>
       <!-- Section 1-->
       <section>
           <img src="" alt="">
            <p>Connecting people with their favorite agricultural businesses directly to get the best of fresh food experience..</p>
           <img src="" alt="logo">
           <h2>AgriPage</h2>
       </section>

       <!--Section 2-->
       <section>
           <img src="" alt="">
           <p>Allowing farmers to broadcast their business and put them on the map..</p>

           <div id="rectangle">
               <h3><a href="/login">Login to get your saved data and view your private agricultural data!</a></h3>
               
           </div>

           <div id="rectangle1">
               <h3><a href="/signup">Sign up now to get the best user experience in agriculture</a></h3>
               
           </div>

       </section>

      
         
   <!--FOOTER 3-->

           
    <footer>

        <div class="container-footer">

           <div class="footer-reseau">
               <h3>Suivez-nous:</h3>
               <a href="#"><img src="" alt="insta">Instagram</a>
               <a href="#"><img src="" alt="fb">Facebook</a>
               <a href="#"><img src="" alt="twitter">Twitter</a>
           </div>

           <div class="footer-contacte">
               <h3>Nous contacter:</h3>
               <p>Email: ironk@gmail.fr</p>
               <p>Location Store: 15 rue du Louvre</p>
               <p>75001 Paris</p>
           </div>

           <img src="" alt="logo">
             <h4>AgriPage</h4>
        </div>

    </footer>

</section>

</body>





