<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>

    {{{body}}}

  </body>

    <footer>

        <div class="container-footer">

           <div class="footer-reseaux">
               <h3>Suivez-nous:</h3>
               <a href="#"><img src="../images/instagram.png" alt="insta">Instagram</a>
               <a href="#"><img src="../images/facebook.png" alt="fb">Facebook</a>
               <a href="#"><img src="../images/twitter.png" alt="twitter">Twitter</a>
           </div>

           <div class="footer-contacte">
               <h3>Nous contacter:</h3>
               <p>Email: ironk@gmail.fr</p>
               <p>Location Store: 15 rue du Louvre</p>
               <p>75001 Paris</p>
           </div>

           <img src="../images/harvest.png" alt="logo">
             <h4>AgriPage</h4>
        </div>

    </footer>



</html>