<link rel="stylesheet" href="/styles/profilebusiness.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

<div id="profile-page">
   <div id="side-bar">
    		{{!-- <img src="../images/long-plant.png" class="long-plant" alt="long plant Photo"/> --}}
    	      <div id="sidebar-container">
               <h1>Name</h1>
               <img src="../images/farmer.png" class="profile-photo" alt="Photo"/>
               <h2><a>Favorites</a></h2>
               <h2><a>Edit Profile</a></h2>
               <h2 id="logout"><a>Logout</a></h2>	  
              </div>
   </div>
   <div class="main-page">
        <h1>Explore agricultural businesses in the region</h1>
        <div id="filter-box">
            <div class="dropdown">
                <button class="dropbtn"><img src="../images/edit.png" class="edit-photo" alt="Photo"/></button>
                <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2</a>
                <a href="#">Link 3</a>
            </div>
        </div>
        <div id="filter-text">filter by region</div>
</div>   
        <div class="container-box">
        <ul id="business-listing">
            {{#each businessInfo}}
            <li>
                <div>
                    <img src="../images/tractor.png" class="tractor-image" alt="tractor"/>
                    {{!-- <h3>{{businessInfo.businessName}}</h3> --}}
                    <h3>{{this.businessName}}</h3>
                    <h4>{{this.region}}</h4>
                </div>
            </li>
            {{/each }}
        </ul>
    </div>
   </div> 
   </div>