


<div class="container">
    <aside>
    
		<img src="" class="profile" alt="Photo"/>

		<section> 
	
			<h2>Favoris</h2>
			
    	</section>

    	<section>
    		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque tempora facere culpa quod? Quo facilis, nam magnam cumque error quibusdam. Optio corporis accusantium debitis ipsum perferendis. Suscipit, ipsam distinctio! Qui.</p>
    	</section>		

    </aside>
</div>

<div id="search-bar">
    
    <form action="" class="formulaire">
        <input class="champ" type="text" value="Search"/>
        <input class="bouton" type="button" value="bouton" />
                     
    </form>
 </div>

<section> 
           
    <footer>
        
        <div class="container-footer">

           <div class="footer-reseau">
               <h3>Suivez-nous:</h3>
               <a href="#"><img src="" alt="insta">Instagram</a>
               <a href="#"><img src="" alt="fb">Facebook</a>
               <a href="#"><img src="" alt="twitter">Twitter</a>
           </div>

           <div class="footer-contacte">
               <h3>Nous contacter:</h3>
               <p>Email: ironk@gmail.fr</p>
               <p>Location Store: 15 rue du Louvre</p>
               <p>75001 Paris</p>
           </div>

           <img src="" alt="logo">
             <h4>AgriPage</h4>
        </div>

    </footer>

</section>


