


<div class="container">
    <aside>
    
		<img src="" class="profile" alt="Photo"/>

		<section> 
	
			<h2>Favoris</h2>
			
    	</section>

    	<section>
    		<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque tempora facere culpa quod? Quo facilis, nam magnam cumque error quibusdam. Optio corporis accusantium debitis ipsum perferendis. Suscipit, ipsam distinctio! Qui.</p>
    	</section>		

    </aside>
</div>

<div id="search-bar">
    
    <form action="" class="formulaire">
        <input class="champ" type="text" value="Search"/>
        <input class="bouton" type="button" value="bouton" />
                     
    </form>
 </div>




