<ul id="container-box">
    {{#each businessInfo}}
    <li>
        <div>
            <img src="" class="" alt="Photo"/>
            <h3>{{this.businessName}}</h3>
            <h4>Region</h4>
        </div>
    </li>
    {{#each }}
</ul>