<link rel="stylesheet" href="/styles/login.css">


<div id="form-login">
  <h1>Login</h1>
  <form class="form"method="POST" action="/login">
 
     <label>
      Email Adress:
      <input class="input email" type="email" placeholder="Email" id="input-email" name="email"/>
    </label>



     <label>
      Password:
      <input class="input password" type="password" name="Password" placeholder="password" id="input-password"/>
    </label>


    <input type="submit" value="Login"/>

   </form>
</div>

