<link rel="stylesheet" href="/styles/login.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rancho&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">

<img id="background-plant" src="/images/green-plant.png" alt="background-plant">
<div class="formulaire">
    <form class="form" method="POST" action="/login">
        <h1>Login</h1>
            <div id="input-fields">
            <input class="input email" type="email" placeholder="Email" id="input-email" name="email"/>
            <input class="input password" type="password" name="Password" placeholder="password" id="input-password"/>
            <input id="login-button" type="submit" value="Login"/> 
            {{!-- <button class="login" type="submit" value="Login"></button> --}}
            </div>

    </form>
</div>