


<img src="../public/logo192.png" alt="">

  <h1>Client Sign Up</h1>
  <form method="POST" action="/signup">
    <label>
      Name:
      <input type="text" name="Nname"/>
    </label>

     <label>
      Email Adress:
      <input type="email" id="input-email" name="email"/>
    </label>

     <label>
      Password:
      <input type="password" name="password" id="input-password"/>
    </label>

     <label>
      Password confirmation:
      <input type="password" name="password" id="input-password"/>
    </label>

<section> 
           
    <footer>
        
        <div class="container-footer">

           <div class="footer-reseau">
               <h3>Suivez-nous:</h3>
               <a href="#"><img src="" alt="insta">Instagram</a>
               <a href="#"><img src="" alt="fb">Facebook</a>
               <a href="#"><img src="" alt="twitter">Twitter</a>
           </div>

           <div class="footer-contacte">
               <h3>Nous contacter:</h3>
               <p>Email: ironk@gmail.fr</p>
               <p>Location Store: 15 rue du Louvre</p>
               <p>75001 Paris</p>
           </div>

           <img src="" alt="logo">
             <h4>AgriPage</h4>
        </div>

    </footer>

</section>