<link rel="stylesheet" href="/styles/signupfarmer.css">

<div id="signup">
  <h1>Former Sign Up</h1>
  <form method="POST" action="/signupfarmer">
    <label>
      Name:
      <input type="text" name="Nname"/>
    </label>

     <label>
      Email Adress:
      <input type="email" id="input-email" name="email"/>
    </label>

     <label>
      Password:
      <input type="password" name="password" id="input-password"/>
    </label>

     <label>
      Password confirmation:
      <input type="password" name="password" id="input-password"/>
    </label>

    <label>
      Businees Name:
      <input type="text" name="Name"/>
    </label>
 
    <label>
      Business Adress:
      <input type="adress"  name="adress"/>
    </label>
 
    <label>
      Description:
      <textarea id="descri" name="Description"></textarea>
    </label>

    <input type="submit" value="Sign Up">
 
  </form>
</div>

<section> 
           
    <footer>
        
        <div class="container-footer">

           <div class="footer-reseau">
               <h3>Suivez-nous:</h3>
               <a href="#"><img src="" alt="insta">Instagram</a>
               <a href="#"><img src="" alt="fb">Facebook</a>
               <a href="#"><img src="" alt="twitter">Twitter</a>
           </div>

           <div class="footer-contacte">
               <h3>Nous contacter:</h3>
               <p>Email: ironk@gmail.fr</p>
               <p>Location Store: 15 rue du Louvre</p>
               <p>75001 Paris</p>
           </div>

           <img src="" alt="logo">
             <h4>AgriPage</h4>
        </div>

    </footer>

</section>



