<link rel="stylesheet" href="/styles/signupfarmer.css">

<div id="signup">
  <h1>Former Sign Up</h1>
  <form class="form" method="POST" action="/signupfarmer">
    <label>
      Name:
      <input class=""type="text" name="Name"/>
    </label>

     <label>
      Email Adress:
      <input class="email" type="email" id="input-email" name="email"/>
      
    </label>

     <label>
      Password:
      <input class="password" type="password" name="password" id="input-password"/>
      
    </label>

     <label>
      Password confirmation:
      <input class="password" type="password" name="password" id="input-password"/>
      
    </label>

    <label>
      Businees Name:
      <input type="text" name="Name"/>
    </label>
 
    <label>
      Business Adress:
      <input type="adress"  name="adress"/>
    </label>
 
    <label>
      Description:
      <textarea id="descri" name="Description"></textarea>
    </label>

    <input type="submit" value="Sign Up">
 
  </form>
</div>





