<link rel="stylesheet" href="/styles/signuptransition.css">

<div id="id="transition-page"">
    <h1>Who Are You?</h1>

        <div>
            <img class="img-shopping" src="../images/shopping.png" alt="login">
            <h3>Farmer</h3>
        </div>

        <div>
            <img class="img-farmer" src="../images/farmer.png" alt="login">
            <h3>Client</h3>
        </div>
</div>

