<link rel="stylesheet" href="/styles/signupclient.css">

         
  <form class="client" method="POST" action="/signupclient">
      <h1>Client Sign Up</h1>
      <label>
        Name:
        <input type="text" name="Nname"/>
      </label>

      <label>
        Email Adress:
        <input type="email" id="input-email" name="email"/>
      </label>

      <label>
        Password:
        <input type="password" name="password" id="input-password"/>
      </label>

      <label>
        Password confirmation:
        <input type="password" name="password" id="input-password"/>
      </label>

    <input class="signup" type="submit" value="Sign Up"/>
    
  </form>

  

