<link rel="stylesheet" href="/styles/signupclient.css">

<div id="client-signup">

  <h1>Client Sign Up</h1>

    <form method="POST" action="/signupclient">
      <label>
        Name:
        <input type="text" name="Nname"/>
      </label>

      <label>
        Email Adress:
        <input type="email" id="input-email" name="email"/>
      </label>

      <label>
        Password:
        <input type="password" name="password" id="input-password"/>
      </label>

      <label>
        Password confirmation:
        <input type="password" name="password" id="input-password"/>
      </label>
    
  </form>
</div>
  

