<link rel="stylesheet" href="/styles/signuptransition.css">

    <div id="transition-page">
        <div class="elements">
        <h1>Who Are You?</h1>

            <div class="shopping">
                <img class="img-shopping" src="../images/shopping.png" alt="login">
                <h3>Client</h3>
            </div>

            <div class="farmer">
                <img class="img-farmer" src="../images/farmer.png" alt="login">
                <h3>Farmer</h3>
            </div>
        </div>
    </div>

