 #connecting-people{
    position: absolute;
    top: 50px;
    right: 40px;
    font-size: 1.5em;
    width: 50%;
    /* background-color: #82AE8C; */
    background-color: rgba(130, 174, 140, 0.7);
    border-radius: 25px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #064815;
}

#connecting-people > p{
    margin: 2.5%;
}

.section-1{
    overflow: auto;
    background-color: rgba(130, 174, 140, 0.7);
}


#hand-earth{
    width: 100%;
    /* vertical-align: bottom; */
}

#logo-img{
    width: 70%;
    display: block;
}
.logo{
    position: absolute;
    overflow: auto;
    left: 3%;
    top: 15%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rancho', cursive;
    color: #9ACC88;
    font-size: 5.5em;
    font-weight: lighter;
}

.section-2{
    /* overflow: auto; */
    background-color: rgba(130, 174, 140, 0.7);
}

#farming-crops{
    width: 100%;
}


#allowing{
    position: absolute;
    /* top: 10%; */
    /* left: 30px; */
    font-size: 1.5em;
    width: 50%;
    /* background-color: #82AE8C; */
    background-color: rgba(130, 174, 140, 0.7);
    border-radius: 25px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #064815;
}


/* #farming-crops{
    max-width: 100%;
}

#website-name{
    position: absolute;
    top:200px;
    left: 40px;
    color: #82AE8C;

    font-family: Rancho;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;

}

.midle-box{
    /* position: absolute; */
    /*display: flex;*/
/*     
} */

/* #login-box>p{
    position: absolute;
    width: 173px;
    height: 71px;
    left: 19px;
    top: 743px;
    font-family: Roboto;
    font-size: 14px;
    background: rgba(130, 174, 140, 0.72);
    border-radius: 10px;
} */

/*
#login-box>p{
    position: absolute;
    width: 99px;
    height: 58px;
    left: 28px;
    top: 752px;
    background: #82AE8C;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}
*/
/* .img-login{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 151px;
    top: 763px;
} */

/* #signup-box>p{
    position: absolute;
    background: #82AE8C;
    width: 173px; 
    height: 71px;
    left: 358px;
    top: 743px;
    border-radius: 10px;
} */
/*
#signup-box>p{
    position: absolute;
    width: 88px;
    height: 68px;
    left: 366px;
    top: 754px;
    font-family: roboto;
    font-size: 12px;
    background: #82AE8C;
   
}
*/
/* .img-signup{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 459px;
    top: 763px;
} */







