html, body{
    margin: 0;
    height: 100%;
}

/*
#hand-earth{
    width:100%;
    height: auto;

}
*/
.formulaire{
    background-image: url("/images/roman-synkevych-fjj7lVpCxRE-unsplash.jpg");
    display: flex;
    height: 90vh;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.form{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#d3D3D3;
}





 h1{
    margin: 0 auto;
    left: 70%;
    top: 30px;
    font-family: rancho;
    color: #064815;
    
}

#form-elements{
    padding: 10px;
}




.input{
    padding: 15px;
    border: 2px solid #064815;
    border-radius: 2px;
}


.login{
    font-size: 20px;
    color: #064815;
    font-family: roboto;
    border-radius: 20px;
    background-color: #86AE82;

}

.email{
    background-image: url("/images/email.png");
    background-repeat: no-repeat;
    background-position: 5px 15px;
    background-size: 18px;
    padding-left: 30px;
    border-radius: 10px;
}

.password{
    background-image: url("/images/password.png");
    background-repeat: no-repeat;
    background-position: 5px 15px;
    background-size: 18px;
    padding-left: 30px;
    border-radius: 10px;
} 