html, body{
    margin: 0;
    height: 100%;
}

#profile-page{
    height: 100%;
    display: flex;
}

#side-bar{
    width: 15%;
    /* background-image: url("../images/long-plant.png"); */
    background: linear-gradient(0deg, rgba(134, 174, 130, 0.6), rgba(134, 174, 130, 0.6)), url(../images/long-plant.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-color: ; */
}

#sidebar-container{
    position: absolute;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-photo{
    width: 60%;
}


.tractor-image{
    width: 10%;
}
/* #main-page{
    height:90%;
    display: flex;
}

.container-box{
    width: 90%;
}

#business-listing{
    display: flex;
    flex-wrap:  wrap;
    width: 100%;
    height: 100%;
}

#business-listing > li{
    width: 30%;
    padding: 10px;
    top: 20px;
}

.left-box{
    background-color: #80A779;
    padding: 69px;
    text-align: center;
    height: 100%;
    width: 5%;
}

.left-box > p{
    width: 47px;
    height: 22px;
    left: 15px;
    top: 12px;
    font-family: Rancho;
    color: #FFFFFF;
}

h2{
    width: 47px;
    height: 22px;
    left: 15px;
    top: 105px;
    color: #ffffff;
    border: 1px solid black;
    background-color: grey;
}

.favority{
    text-align: center;
    width: auto;
    height: auto;
    left: 10px;
    margin: 0 auto;
}

.edit{
    left: 10px;
    text-align: center;
}

#descri{
    width: 70%;
    resize: none;
}


img{
   
    width: 41px;
    height: 44px;
    left: 12px;
    top: 34px;
}
.box{
    width: 117px;
    height: 120;
    top: 90px;
}  */