html, body{
    margin: 0;
    height: 100%;
}

.form{
    background-image: url("/images/roman-synkevych-fjj7lVpCxRE-unsplash.jpg");
    background-size: 100%;
    height: 100%;
     
}

.form> h1{
    text-align: center;
    font-size: 60px;
    justify-content: center;
    color: #064815;
    font-family: rancho;
}

form>input{
    text-align: center;
   
    background-color:#c4c4c4;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
   padding: 0 auto;
   
}
/*


form{
    text-align: center;
    width: 300px;
    height: 300px;
    background-color:#c4c4c4;
    padding: 20px;
    border-radius: 30px;
    align-items: center;
   padding: 0 auto;
   
}
*/



.email{
    background-image: url("/images/email.png");
}

.password{
    background-image: url("/images/password.png");
}