html, body{
    margin: 0;
    height: 100%;
}

#background-plant{
    width: 100%;
    vertical-align: bottom;
}

.formulaire{
    position: absolute;
    top: 15%;
    /* background-color: rgba(130, 174, 140, 0.7); */
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60%;
    
}

.form{
    background-color: rgba(130, 174, 140, 0.3);
    height: 100%;
    width: 30%;
    border-radius: 10px;
}