html, body{
    margin: 0;
    height: 100%;
}


#transition-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


h1{
    font-family:'Rancho', cursive;
    font-size: 4.5em;
    color: #064815;
    margin-bottom: 5%;
}


.elements{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}

.img-shopping{
    width: 80%;
    margin: 10%;
    margin-bottom: 5%;
}

.img-farmer{
    width: 80%;
    margin: 10%;
    margin-bottom: 5%;
}

.user{
    border: 1px solid rgba(6, 72, 21, 0.21);
    /* box-sizing: border-box; */
    border-radius: 15px;
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    box-shadow: 5px 5px 5px rgba(130, 174, 140, 0.3);
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    color: #064815;
}





