#client-signup{
    background-image: url("/images/roman-synkevych-fjj7lVpCxRE-unsplash.jpg");
   
   max-width: 100%;
   max-height: 100%;
    
}

h1{
    position: absolute;
    width: 169px;
    height: 33px;
    left: 199px;
    top: 9px;
    font-family: rancho;
    color: #064815;
    

}

.client{
   
    width: 151px;
    height: 185px;
    left: 199px;
    top: 49px;
}


