/*
#client-signup{
    background-image: url("/images/roman-synkevych-fjj7lVpCxRE-unsplash.jpg");
   
   max-width: 100%;
   max-height: 100%;
    
}
*/

html, body{
    margin: 0;
    height: 100%;
}

/*
h1{
    position: absolute;
    width: 169px;
    height: 33px;
    left: 199px;
    top: 9px;
    font-family: rancho;
    color: #064815;
}
*/
#form-rectangle{
    padding: 20px; 
} 

#form-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.formulaire{
    display: flex;
    background-image: url("/images/roman-synkevych-fjj7lVpCxRE-unsplash.jpg");
    height: 90vh;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;

}

.client{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    padding: 10px 50px 30px 0;
    border: 1px solid black;
    border-radius: 10px;
    background-color:#d3D3D3;
}

.client>h1{
    text-align: center;
    font-size: 60px;
    justify-content: center;
    color: #064815;
    font-family: rancho;
}
/*
.client>input{
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 60px;
    left: 199px;
    top: 49px;
    border: 1px solid grey;
}
*/
.signup{
    font-size: 20px;
    color: #064815;
    font-family: roboto;
    border-radius: 20px;
    background-color: #86AE82;
}

/*
.client{
   
    width: 151px;
    height: 185px;
    left: 199px;
    top: 49px;
}
*/

