/*body{
    background: #82ae82;
    
}
*/

*{
    margin: 0;
    padding: 0;
}

/*FOOTER*/

footer{
   bottom: 0;
   width: 100%;
    /* width: 100px;
    height: 100px; */
}


.container-footer{
    display: flex;
    /* background: #82AE8C; */
    background: #82AE8C;
    position: relative;
    height: 20%;
    justify-content: space-between;
    top: auto;
    bottom: 0;
    flex-direction: row;
    
}    

.footer-reseaux{
   width: 30%;
   bottom: 0;
   
   
   
}




.footer-reseaux > img{
    width: 10%;
   
}

.footer-contacte{
    width: 30%;
    text-align: center;
    bottom: 10px;
    top: 10px;
}

.footer-logo{
   width: 30%;
   right: 0;
   bottom: 0;
   text-align: center;
}

.footer-logo > img{
    width: 20%;
}
